.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 350px;
}

.info h5 {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 6px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
}

.info span {
    font-size: 15px;
    color: dodgerblue;
    font-weight: bold;
}

.info a {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.info a:hover {
    color: dodgerblue;
    transition: 0.3s ease;
}

body {
    background-color: #0d1117;
}

h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 90px;
}